doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title HTMX Cookbook
    link(rel="stylesheet" href="/public/style.css")
    script(src="https://unpkg.com/htmx.org@1.9.12")
  body
    a.skip-link(href="#main-content") Skip to main content
    block content
